@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide {
  padding: 0 15px; /* 좌우 간격 조절 */
}

.slick-list {
  margin: 0 -15px; /* 패딩이 영향을 미치지 않도록 마진 조절 */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar:focus {
  width: 12px;
  height: 12px;
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  background: #ffffff;
  height: 12px;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #6b70f5;
  border-radius: 6px;
  height: 12px;
}

/* 스크롤바 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e86;
  height: 12px;
}

/* .header-scrolled {
  @apply;
} */

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-7ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-style: 700;
}

body {
  font-family: "Inter", sans-serif;
}
.header {
  font-family: "NanumSquare", sans-serif;
}
